@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-image-grainy-purple: 
    linear-gradient(to right, purple, transparent), 
    url('/noise/noise.svg');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fc0000;
    --foreground: #ededed;
  }
}


body {
  background: var(--background),;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@theme {

}